

/*for nav*/
nav ul li a:hover{
	color: red;
	transition: .4s;
}

nav ul li a{
	color: red;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
/*icon*/

#icon {

	border-radius: 100%;
}
/*profile image*/

#image {
	border-radius: 100%;
	border-color: #c90016 2px;
}


/*for footer*/
#footer{
	padding: 30px;
	text-align: center;
}

/*background color*/

#rey {
	height: 100vh;
	width: 100%;
	background-image: url(h24.jpg);
	background-size: cover;
	background-position: center;
}
#skill{
	background-image: url(h24.jpg);
	background-size: cover;
	background-position: center;
}
#project{
	background-image: url(h24.jpg);
	background-size: cover;
	background-position: center;
}
#contact{
	background-image: url(h24.jpg);
	background-size: cover;
	background-position: center;
}

/*this drop is for learn more in  banner*/
#drop{
	background-color: grey;
	color: black;
}

#try{
	background-color: grey;
}
/*for text color*/
span{
	color: red;
}
b-1{
	color: red;

}
b-1:hover {
	color: white;
	transition: .4s;
}
b-2{
	font-weight: bold;
	color: white;
}
p-1{
	color: #c90016;
}


h1 b{
	color: #c90016;
}
h2 b{
	color: #c90016;
}

b{
	color: white;
}
/*for sites in fb,ig and db*/
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #c90016;
	border-radius: 50%;
	
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 22%;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	text-align: center;
	color:black;
	
	font-size: 14px; 
}
/*for footer text*/
p{
	text-align: center;
}
